@use 'variables' as v; 
@use 'mixins' as m; 
// PLACEHOLDERS
// Estilo para contenedor base
%contenedor-base {
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
}

// Estilos para contenedor destacado
%card-destacada {
    background-color: v.$color-fondo-oscuro; 
    border-radius: v.$radio-borde-md; 
    border: 1px solid v.$color-acento;
}

// Estilo para títulos de sección
%titulo-seccion-borde {
    color: v.$color-texto-base;
    font-size: 2em;
    margin-bottom: v.$espaciado-md;
    border-left: 5px solid v.$color-acento;
    padding-left: 15px;
}

// Estilo de efecto hover con sombra y desplazamiento
%hover-scale-shadow {
    &:hover, &:focus {
        border-color: v.$color-acento;
        background-color: v.$color-fondo-claro;
        transform: translateY(-3px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); 
    }
}
