//aca va a ir toso el codigo de css y sass de mi footer y su responsive//

@use "variables" as v; 
@use "mixins" as m;

// Placeholder para Títulos 
%base-title-accent {
    color: v.$color-acento;
    margin-bottom: v.$espaciado-sm; 
}

// Estilo Base del Footer
.main-footer {
    // Apariencia y Layout
    background-color: v.$fondo-transparente-negro-alto; 
    color: v.$color-texto-claro; 
    padding: v.$espaciado-md; 
    text-align: center;
    border-top: 2px solid v.$color-acento;

    .footer-content {
        margin-bottom: v.$espaciado-sm * 1.5; 
    }

    // Contenedor de Enlaces Sociales
    .social-links {
        max-width: 600px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;

        // Título "Síguenos"
        h3 {
            @extend %base-title-accent; // Aplica color de acento y margin
            grid-column: 1 / -1;
        }

        ul {
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: center;
            gap: 15px;
        }
        
        a {
            color: v.$color-texto-base;
            text-decoration: none;
            transition: color v.$tiempo-transicion-base;
            
            // Estado Hover (Anidamiento)
            &:hover {
                color: v.$color-acento; 
            }
        }
    }
}

// Responsive Design
@include m.tablet-up { 
    .social-links {
        // Cambiar a dos columnas en dispositivos más grandes
        grid-template-columns: auto 1fr; 
        gap: v.$espaciado-md;

        h3 {
            grid-column: 1 / 3;
        }
        
        ul {
            // Ajustar la posición de los enlaces
            justify-content: flex-start; 
        }
    }
}