@use 'variables' as v; 
@use 'mixins' as m; 
// ----------------------------------------------------
// PLACEHOLDERS LOCALES 
// ----------------------------------------------------


// ----------------------------------------------------
// ITERACIÓN PRINCIPAL: clases de Margin y Padding
// ----------------------------------------------------
@each $nivel, $valor in v.$espaciado-mapa {
    
    // Genera clases de Padding 
    .p-#{$nivel} {
        padding: $valor !important;
    }

    // Genera clases de Margin 
    .m-#{$nivel} {
        margin: $valor !important;
    }

    // ITERACIÓN ANIDADA

    // Lista de propiedades y sus prefijos
    $lados: (
        'top': t,
        'bottom': b,
        'left': l,
        'right': r,
    );

    @each $lado, $prefijo in $lados {
        // clases de Padding 
        .p#{$prefijo}-#{$nivel} {
            padding-#{$lado}: $valor !important;
        }

        // clases de Margin
        .m#{$prefijo}-#{$nivel} {
            margin-#{$lado}: $valor !important;
        }
    }
}