@use 'variables' as v; 
@use 'mixins' as m; 
@use "base" as b;

// PLACEHOLDERS

// Estilos comunes para contenedores destacados
%card-destacada {
    border-radius: v.$radio-borde-md; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

// Estilos comunes para títulos de sección
%titulo-seccion-borde {
    color: v.$color-texto-base;
    margin-bottom: v.$espaciado-md;
    border-left: 5px solid v.$color-acento;
    padding-left: 15px;
}

// Estilos comunes de efecto hover 
%hover-scale-shadow {
    &:hover, &:focus {
        border-color: v.$color-acento;
        background-color: v.$color-fondo-claro;
        transform: translateY(-3px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); 
    }
}

// ITERACIÓN PRINCIPAL: clases de Margin y Padding
@each $nivel, $valor in v.$espaciado-mapa {
    
    // Genera clases de Padding 
    .p-#{$nivel} {
        padding: $valor !important;
    }

    // Genera clases de Margin 
    .m-#{$nivel} {
        margin: $valor !important;
    }

    // ITERACIÓN ANIDADA: clases específicas

    // Lista de propiedades y sus prefijos
    $lados: (
        'top': t,
        'bottom': b,
        'left': l,
        'right': r,
    );

    @each $lado, $prefijo in $lados {
        // Genera clases de Padding (pt-1, pb-2, pl-3, pr-4, etc.)
        .p#{$prefijo}-#{$nivel} {
            padding-#{$lado}: $valor !important;
        }

        // clases de Margin
        .m#{$prefijo}-#{$nivel} {
            margin-#{$lado}: $valor !important;
        }
    }
}
