
$fuentePrimaria: Roboto;
$fuenteSecundaria: sans-serif;
$fuenteColorPrimario: #fff;
$fuenteColorHover: #ff4500;
$bakground-color: rgba(0, 0, 0, 0.9)

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//extends y Mixins//
