// archivo principal de sass//

// ----------------------------------------------------
// 1. ABSTRACT 
// ----------------------------------------------------
@use "variables" as v;
@use "mixins" as m;

// ----------------------------------------------------
// 2. UTILITIES 
@use "utilities";

// ----------------------------------------------------
// 3. LAYOUT 
// ----------------------------------------------------
@use "header";
@use "footer";
@use "home";

// ----------------------------------------------------
// 4. PAGES 
// ----------------------------------------------------
@use "capitulos";
@use "personajes";
@use "historia";
@use "contacto";
