//archivo principal de sass//

// ABSTRACT //
@use "variables" as v;
@use "mixins" as m;

// PLACEHOLDER & UTILITIES //
@use "base" as b;
@use 'utilities';

// LAYOUT //
@use "header";
@use "footer";
@use "home";

// PAGES //
@use "capitulos";
@use "personajes";
@use "historia";
@use "contacto";
