/* Error: Expected expression.
 *   ,
 * 8 | *{
 *   |  ^
 *   '
 *   sass\_variables.scss 8:2  @use
 *   sass\style.scss 3:1       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected expression.\a   \2577 \a 8 \2502  *{\d\a   \2502   ^\a   \2575 \a   sass\\_variables.scss 8:2  @use\a   sass\\style.scss 3:1       root stylesheet";
}
