/* Error: The target selector was not found.
 * Use "@extend %contenedor-base !optional" to avoid this error.
 *    ,
 * 44 |     @extend %contenedor-base; 
 *    |     ^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   sass\_personajes.scss 44:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: The target selector was not found.\aUse "@extend %contenedor-base !optional" to avoid this error.\a    \2577 \a 44 \2502      @extend %contenedor-base; \d\a    \2502      ^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   sass\\_personajes.scss 44:5  root stylesheet';
}
