/* Error: Undefined variable.
 *    ,
 * 48 |     background-color: map-get($colores, fondo-claro);
 *    |                               ^^^^^^^^
 *    '
 *   sass\_personajes.scss 48:31  @use
 *   sass\style.scss 17:1         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 48 \2502      background-color: map-get($colores, fondo-claro);\d\a    \2502                                ^^^^^^^^\a    \2575 \a   sass\\_personajes.scss 48:31  @use\a   sass\\style.scss 17:1         root stylesheet";
}
